<html ng-app>
<head>
    <title>
        {% block title %}
            Expensonator
        {% endblock %}
    </title>
    <!--<script src="http://ajax.cdnjs.com/ajax/libs/jquery/1.8.2/jquery.js" type="text/javascript"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js" type="text/javascript"></script>
</head>
<body>
    <div id="header">
    {% block header %}
        <h2>Expensonator!  Pwn your EXPENSES</h2>
    {% endblock %}
    </div>
    
    <div id="body">
    {% block body %}
        {% verbatim %} 
    
    <div ng-controller="ExpenseController">
        <h3>Add an Expense:</h3>
        <div>Name: <input type="text" ng-model="new_expense.name" required /></div>
        <div>Merchant: <input type="text" ng-model="new_expense.merchant" required /></div>
        <div>Amount: <input type="number" ng-model="new_expense.amount" required /></div>
        <div>Date: <input type="text" ng-model="new_expense.date" required /></div>
        <div>Category:
             <input type="radio" ng-model="new_expense.budget_category" value="None">None
             <input type="radio" ng-model="new_expense.budget_category" value="Entertainment">Entertainment
             <input type="radio" ng-model="new_expense.budget_category" value="Food">Food
             <input type="radio" ng-model="new_expense.budget_category" value="Misc">Misc
             <input type="radio" ng-model="new_expense.budget_category" value="Transportation">Transportation
             <input type="radio" ng-model="new_expense.budget_category" value="Travel">Travel
             <input type="radio" ng-model="new_expense.budget_category" value="Utilities">Utilities
        </div>
        <div>Tags: <input type="text" ng-model="new_expense.tags" required /></div>
        <div>
            <b>Form contains:</b> {{new_expense | json}}
        </div>
        <button ng-click="save(new_expense)">SAVE</button>
        <div>
            {{post_status}}
        </div>
        <div>
            Post response: {{post_response}}
        </div>
        <div>Expenses added since last page load:</div>
        <div ng-repeat="expense in expenses">{{expense | json }}</div>

        <h3>Stored Expenses</h3>
        <button ng-click="refresh()">Refresh this table</button>
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Merchant</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Budget Category</th>
                    <th>Tags</th>
                </tr>
                <tr ng-repeat="expense in get_data.objects | orderBy:get_data_order_by">
                    <td>{{expense.name}}</td>
                    <td>{{expense.merchant}}</td>
                    <td>{{expense.amount | currency}}</td>
                    <td>{{expense.date}}</td>
                    <td>{{expense.budget_category}}</td>
                    <td>{{expense.tags}}</td>
                </tr>
            </table>
        </div>
        
        <h3>Raw GET data:</h3>
        <div>{{get_data}}</div>
    </div>
    <script>
        function ExpenseController($scope, $http) {
            $scope.expenses = [];
            $scope.get_data_order_by = '-date';

            $scope.save = function(new_expense) {
                $http({method: 'POST', url: '/api/expense/', data: new_expense}).
                    success(function(data, status, headers, config) {
                        $scope.post_status = "Post success!";
                        $scope.expenses.push(angular.copy(new_expense));
                        $scope.post_response = data;
                }).
                error(function(data, status, headers, config) {
                        $scope.post_status = "Post failed!";
                        $scope.post_response = data;
                });
            };

            $scope.refresh = function() {
                $http({method: 'GET', url: '/api/expense/?format=json'}).
                    success(function(data, status, headers, config) {
                        $scope.get_data = data;
                }).
                error(function(data, status, headers, config) {
                        $scope.get_data = "get failed";
                });
            }
            
            $scope.refresh();

        }
    </script>
    
    {% endverbatim %}
    {% endblock %}
    </div>
    
    <div id="footer">
    {% block footer %}
        <p>By Matthew Haigh</p>
    {% endblock %}
    </div>
</body>
</html>

