<html ng-app>
<head>
    <title>
        {% block title %}
            Expensonator
        {% endblock %}
    </title>
    <link href="/static/reset.css" type="text/css" rel="stylesheet" />
    <link href="/static/base.css" type="text/css" rel="stylesheet" />
    <!--<script src="http://ajax.cdnjs.com/ajax/libs/jquery/1.8.2/jquery.js" type="text/javascript"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js" type="text/javascript"></script>
</head>
<body>
    <div id="header">
    {% block header %}
        <p>Header</p>
    {% endblock %}
    </div>
    
    <div id="body">
    {% block body %}
    {% verbatim %} 

    <h1>Expensonator!  Pwn your EXPENSES</h1>

    <div ng-controller="ExpenseController">
        <h2>Add an Expense:</h2>
        <div>Name: <input type="text" ng-model="new_expense.name" required /></div>
        <div>Merchant: <input type="text" ng-model="new_expense.merchant" required /></div>
        <div>Amount: <input type="number" ng-model="new_expense.amount" required /></div>
        <div>Date: <input type="text" ng-model="new_expense.date" required /></div>
        <div>Category:
             <input type="radio" ng-model="new_expense.budget_category" value="None">None
             <input type="radio" ng-model="new_expense.budget_category" value="Entertainment">Entertainment
             <input type="radio" ng-model="new_expense.budget_category" value="Food">Food
             <input type="radio" ng-model="new_expense.budget_category" value="Misc">Misc
             <input type="radio" ng-model="new_expense.budget_category" value="Transportation">Transportation
             <input type="radio" ng-model="new_expense.budget_category" value="Travel">Travel
             <input type="radio" ng-model="new_expense.budget_category" value="Utilities">Utilities
        </div>
        <div>Tags: <input type="text" ng-model="new_expense.tags" required /></div>
        <!--<div><b>Form contains:</b> {{new_expense | json}}</div>-->
        <button ng-click="save(new_expense)">SAVE</button>
        <div>{{post_status}}</div>
        <div>Post response: {{post_response}}</div>

        <h2>Stored Expenses</h2>
        <button ng-click="refresh()">Refresh this table</button>
        <div>
            <table>
                <tr>
                    <th>Date Period</th>
                    <th>None</th>
                    <th>Entertainment</th>
                    <th>Food</th>
                    <th>Misc</th>
                    <th>Transportation</th>
                    <th>Travel</th>
                    <th>Utilities</th>
                    <th>Total</th>
                    <th>Number of expenses</th>
                </tr>
                <tr ng-repeat="expense_sum in expense_sums | orderBy:expense_sums_order_by">
                    <td>{{expense_sum.date_period}}</td>
                    <td>{{expense_sum.None | currency}}</td>
                    <td>{{expense_sum.Entertainment | currency}}</td>
                    <td>{{expense_sum.Food | currency}}</td>
                    <td>{{expense_sum.Misc | currency}}</td>
                    <td>{{expense_sum.Transportation | currency}}</td>
                    <td>{{expense_sum.Travel | currency}}</td>
                    <td>{{expense_sum.Utilities | currency}}</td>
                    <td>{{expense_sum.total | currency}}</td>
                    <td>{{expense_sum.count}}</td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Merchant</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Budget Category</th>
                    <th>Tags</th>
                </tr>
                <tr ng-repeat="expense in get_data.objects | orderBy:get_data_order_by">
                    <td>{{expense.name}}</td>
                    <td>{{expense.merchant}}</td>
                    <td>{{expense.amount | currency}}</td>
                    <td>{{expense.date}}</td>
                    <td>{{expense.budget_category}}</td>
                    <td>{{expense.tags}}</td>
                </tr>
            </table>
        </div>
        
        <h2>Expenses added since last page load:</h2>
        <div ng-repeat="expense in expenses">{{expense | json }}</div>
        <h2>Raw GET data:</h2>
        <div>{{get_data}}</div>
    </div>
    <script>
        function ExpenseController($scope, $http) {
            $scope.expenses = [];
            $scope.get_data_order_by = '-date';
            $scope.expense_sums = [];
            $scope.expense_sums_order_by = '-date_period'

            $scope.save = function(new_expense) {
                $http({method: 'POST', url: '/api/expense/', data: new_expense}).
                    success(function(data, status, headers, config) {
                        $scope.post_status = "Post success!";
                        $scope.expenses.push(angular.copy(new_expense));
                        $scope.post_response = data;
                }).
                error(function(data, status, headers, config) {
                        $scope.post_status = "Post failed!";
                        $scope.post_response = data;
                });
            };

            $scope.refresh = function() {
                $http({method: 'GET', url: '/api/expense/?format=json&limit=1000'}).
                    success(function(data, status, headers, config) {
                        $scope.get_data = data;
                        $scope.expense_sums = $scope.compute_expense_sums(data.objects);
                }).
                error(function(data, status, headers, config) {
                        $scope.get_data = "get failed";
                });
            }
            
            $scope.compute_expense_sums = function(expenses) {
                // Create an object that will hold all of our sum objects
                var expense_sums = {};

                // Loop through all of the expenses
                for (var i = 0; i < expenses.length; i++) {
                
                    // Get the expense amount and budget category from the expense
                    var expense_amount = parseFloat(expenses[i].amount);
                    var budget_category = expenses[i].budget_category;
                    
                    // Get the year and year-month from the expense.  This assumes
                    // the date is in the YYYY-MM-DD format.
                    //var year = expenses[i].date.substring(0, 4);
                    var year_month = expenses[i].date.substring(0, 7);

                    function update_expense_sum(sum_key) {
                        if (sum_key in expense_sums) {
                            expense_sums[sum_key]["total"] += expense_amount;
                            expense_sums[sum_key]["count"] += 1;
                        }
                        else {
                            expense_sums[sum_key] = {
                                "total": expense_amount,
                                "count": 1,
                                "date_period": sum_key};
                        }
                        if (budget_category in expense_sums[sum_key]) {
                            expense_sums[sum_key][budget_category] += expense_amount;
                        }
                        else {
                            expense_sums[sum_key][budget_category] = expense_amount;
                        }
                    }
                    
                    //update_expense_sum(year);
                    update_expense_sum(year_month);
                    update_expense_sum("All of time");
                }
                return expense_sums;
            }
            
            $scope.refresh();

        }
    </script>
    
    {% endverbatim %}
    {% endblock %}
    </div>
    
    <div id="footer">
    {% block footer %}
        <p>By Matthew Haigh</p>
    {% endblock %}
    </div>
</body>
</html>

